DHCPv6 client need accept RECONFIGURE MESSAGE

* lan7084 test 14
* lan7084 test 15

> WIDE-DHCPv6 client lacks support of accepting/handling RECONFIGURE MESSAGE 
> 
> Newly added functions:
> 1. SOLICIT MESSAGE send out by client need include ReconfigureAccept Option
> 2. When receive RECONFIGURE MESSAGE client need send RENEW MESSAGE
> 3. RECONFIGURE MESSAGE should validate by md5

```diff
diff --git a/conf/dhcp6c.wide.conf b/conf/dhcp6c.wide.conf
index 39729c3..308f2ae 100644
--- a/conf/dhcp6c.wide.conf
+++ b/conf/dhcp6c.wide.conf
@@ -48,7 +48,7 @@ id-assoc na 0 {};
 #~~ if ($C_IPV6_MANUAL_DHCPPD == 0 ) {
 #~~ if ($S_IPV6_NOT_REQUEST_DHCPPD == 0 ) {
 id-assoc pd {
-#~                       !!!!!! ($S_IPV6_DHCPV6C_IF_NAME/str)
+#~                       !!!!!! ($S_SYS_LAN0_INTERFACE/str/)
         prefix-interface eth2.2 {
                 sla-id 1;
         };
diff --git a/src/auth.c b/src/auth.c
index 6b9ff9b..46674ca 100644
--- a/src/auth.c
+++ b/src/auth.c
@@ -188,6 +188,30 @@ dhcp6_verify_mac(buf, len, proto, alg, off, key)
 	return (result);
 }
 
+int
+dhcp6_verify_reconfmsg(buf, len, off, key)
+	char *buf;
+	ssize_t len;
+	size_t off;
+	char *key;
+{
+	hmacmd5_t ctx;
+	unsigned char digest[MD5_DIGESTLENGTH];
+	int result;
+
+	memcpy(digest, buf + off, sizeof(digest));
+	memset(buf + off, 0, sizeof(digest));
+
+	hmacmd5_init(&ctx, key, 16);
+	hmacmd5_update(&ctx, buf, len);
+	result = hmacmd5_verify(&ctx, digest);
+
+	/* copy back the digest value (XXX) */
+	memcpy(buf + off, digest, sizeof(digest));
+
+	return (result);
+}
+
 /*
  * This code implements the HMAC-MD5 keyed hash algorithm
  * described in RFC 2104.
diff --git a/src/auth.h b/src/auth.h
index 84564d9..d78df99 100644
--- a/src/auth.h
+++ b/src/auth.h
@@ -58,3 +58,5 @@ extern int dhcp6_calc_mac __P((char *, size_t, int, int, size_t,
     struct keyinfo *));
 extern int dhcp6_verify_mac __P((char *, ssize_t, int, int, size_t,
     struct keyinfo *));
+extern int dhcp6_verify_reconfmsg __P((char *, ssize_t, size_t, 
+	char *));
diff --git a/src/common.c b/src/common.c
index 10097a4..a05110d 100644
--- a/src/common.c
+++ b/src/common.c
@@ -1608,6 +1608,8 @@ dhcp6_get_options(p, ep, optinfo)
 	char dslitename[MAXDNAME + 1];
 #endif
 
+	optinfo->reconfig_msg_type = 0;
+
     // begin point (bp)
     // end point (ep)
     // next point (np)
@@ -1808,10 +1810,21 @@ dhcp6_get_options(p, ep, optinfo)
 				    optinfo->delayedauth_offset,
 				    optinfo->delayedauth_realmlen);
 				break;
-#ifdef notyet
 			case DHCP6_AUTHPROTO_RECONFIG:
+				if (authinfolen == 0) {
+					optinfo->authflags |=
+					    DHCP6OPT_AUTHFLAG_NOINFO;
+					break;
+				}
+
+				memcpy(&optinfo->reconfigauth_type, cp, 1); 
+				cp += 1;
+				optinfo->reconfigauth_offset = cp - bp;
+				memcpy(&optinfo->reconfigauth_val, cp, 16); 
+				cp += 16;
+				
 				break;
-#endif
+
 			default:
 				dprintf(LOG_INFO, FNAME,
 				    "unsupported authentication protocol: %d",
@@ -2021,6 +2034,11 @@ dhcp6_get_options(p, ep, optinfo)
 			}			
 			break;
 #endif          //dslite
+		case DH6OPT_RECONF_MSG:
+			optinfo->reconfig_msg_type = *cp;
+			break;
+		case DH6OPT_RECONF_ACCEPT:
+			break;
 		default:
 			/* no option specific behavior */
 			dprintf(LOG_INFO, FNAME,
@@ -2411,6 +2429,13 @@ dhcp6_set_options(type, optbp, optep, optinfo)
 	int len = 0, optlen;
 	char *tmpbuf = NULL;
 
+	if (type == DHCP6S_SOLICIT || type == DHCP6S_REQUEST) {
+		if (copy_option(DH6OPT_RECONF_ACCEPT, 0, NULL, 
+			&p, optep, &len) != 0) {
+			goto fail;
+		}
+	}
+
 	if (optinfo->clientID.duid_len) {
 		if (copy_option(DH6OPT_CLIENTID, optinfo->clientID.duid_len,
 		    optinfo->clientID.duid_id, &p, optep, &len) != 0) {
@@ -2647,12 +2672,10 @@ dhcp6_set_options(type, optbp, optep, optinfo)
 				authlen += optinfo->delayedauth_realmlen +
 				    sizeof(optinfo->delayedauth_keyid) + 16;
 				break;
-#ifdef notyet
 			case DHCP6_AUTHPROTO_RECONFIG:
 				/* type + key-or-HAMC */
 				authlen += 17;
 				break;
-#endif
 			default:
 				dprintf(LOG_ERR, FNAME,
 				    "unexpected authentication protocol");
@@ -2701,9 +2724,8 @@ dhcp6_set_options(type, optbp, optep, optinfo)
 				    optinfo->delayedauth_keyid,
 				    optinfo->delayedauth_offset); 
 				break;
-#ifdef notyet
 			case DHCP6_AUTHPROTO_RECONFIG:
-#endif
+				break;
 			default:
 				dprintf(LOG_ERR, FNAME,
 				    "unexpected authentication protocol");
@@ -3176,6 +3198,8 @@ dhcp6optstr(type)
 		return ("vendor specific info");
 	case DH6OPT_INTERFACE_ID:
 		return ("interface ID");
+	case DH6OPT_RECONF_ACCEPT:
+		return ("reconfigure message accept");
 	case DH6OPT_RECONF_MSG:
 		return ("reconfigure message");
 	case DH6OPT_SIP_SERVER_D:
diff --git a/src/config.h b/src/config.h
index 180007a..40e8124 100644
--- a/src/config.h
+++ b/src/config.h
@@ -100,6 +100,8 @@ struct authparam {
 #define AUTHPARAM_FLAGS_NOPREVRD	0x1
 
 	u_int64_t prevrd;	/* previous RD value provided by the peer */
+
+	unsigned char reconfig_key[16];
 };
 
 struct dhcp6_event {
diff --git a/src/dhcp6.h b/src/dhcp6.h
index e1eed8e..85b80a4 100644
--- a/src/dhcp6.h
+++ b/src/dhcp6.h
@@ -186,6 +186,7 @@ struct dhcp6_optinfo {
 	int pref;		/* server preference */
 	int32_t elapsed_time;	/* elapsed time (from client to server only) */
 	int64_t refreshtime;	/* info refresh time for stateless options */
+	u_int8_t reconfig_msg_type; /* reconfigure message option */
 
 	struct dhcp6_list iapd_list; /* list of IA_PD */
 	struct dhcp6_list iana_list; /* list of IA_NA */
@@ -226,18 +227,21 @@ struct dhcp6_optinfo {
 			int offset; /* offset to the HMAC field */
 		} aiu_delayed;
 		struct {
-			int type;
+			u_int8_t type;
 			int offset; /* offset to the HMAC field */
-			char val[16]; /* key value */
+//			char val[16]; /* key value */
+			unsigned char val[16]; /* key value */
 		} aiu_reconfig;
 	} authinfo;
 #define delayedauth_keyid authinfo.aiu_delayed.keyid
 #define delayedauth_realmlen authinfo.aiu_delayed.realm.dv_len
 #define delayedauth_realmval authinfo.aiu_delayed.realm.dv_buf
 #define delayedauth_offset authinfo.aiu_delayed.offset
+
 #define reconfigauth_type authinfo.aiu_reconfig.type
 #define reconfigauth_offset authinfo.aiu_reconfig.offset
 #define reconfigauth_val authinfo.aiu_reconfig.val
+
 #ifdef AMIT_ENABLE_DSLITE
 	struct dhcp6_list dslitename_list; /*ds-lite name list */
 	struct dhcp6_list dsliteaddr_list; /*ds-lite address list */
@@ -299,6 +303,7 @@ struct dhcp6_relay {
 #define DH6OPT_VENDOR_OPTS 17
 #define DH6OPT_INTERFACE_ID 18
 #define DH6OPT_RECONF_MSG 19
+#define DH6OPT_RECONF_ACCEPT 20
 
 #define DH6OPT_SIP_SERVER_D 21
 #define DH6OPT_SIP_SERVER_A 22
diff --git a/src/dhcp6c.c b/src/dhcp6c.c
index c766592..078c873 100644
--- a/src/dhcp6c.c
+++ b/src/dhcp6c.c
@@ -130,6 +130,8 @@ static int client6_recvadvert __P((struct dhcp6_if *, struct dhcp6 *,
 				   ssize_t, struct dhcp6_optinfo *));
 static int client6_recvreply __P((struct dhcp6_if *, struct dhcp6 *,
 				  ssize_t, struct dhcp6_optinfo *));
+static int client6_recvreconfig __P((struct dhcp6_if *, struct dhcp6 *,
+				  ssize_t, struct dhcp6_optinfo *));
 static void client6_signal __P((int));
 static struct dhcp6_event *find_event_withid __P((struct dhcp6_if *,
 						  u_int32_t));
@@ -1494,6 +1496,9 @@ client6_recv()
 	case DH6_REPLY:
 		(void)client6_recvreply(ifp, dh6, len, &optinfo);
 		break;
+	case DH6_RECONFIGURE:
+		(void)client6_recvreconfig(ifp, dh6, len, &optinfo);
+		break;
 	default:
 		dprintf(LOG_INFO, FNAME, "received an unexpected message (%s) "
 		    "from %s", dhcp6msgstr(dh6->dh6_msgtype),
@@ -2016,6 +2034,57 @@ find_event_withid(ifp, xid)
 }
 
 static int
+client6_recvreconfig(ifp, dh6, len, optinfo)
+	struct dhcp6_if *ifp;
+	struct dhcp6 *dh6;
+	ssize_t len;
+	struct dhcp6_optinfo *optinfo;
+{
+	/* packet validation based on Section 15.11 of RFC3315. */
+
+	/* TODO: message is unicast to the client */
+
+	/* include Server Identifier option */
+	if (optinfo->serverID.duid_len == 0) {
+		dprintf(LOG_INFO, FNAME, "no server ID option");
+		return (-1);
+	} else {
+		dprintf(LOG_DEBUG, FNAME, "server ID: %s, pref=%d",
+		    duidstr(&optinfo->serverID),
+		    optinfo->pref);
+	}
+
+	/* include Client Identifier option */
+	if (optinfo->clientID.duid_len == 0) {
+		dprintf(LOG_INFO, FNAME, "no client ID option");
+		return (-1);
+	}
+	if (duidcmp(&optinfo->clientID, &client_duid)) {
+		dprintf(LOG_INFO, FNAME, "client DUID mismatch");
+		return (-1);
+	}
+
+	/* Must contain a Reconfigure Message option */
+	/* Now only support reconfig-renew (type 5) */
+	if (optinfo->reconfig_msg_type != 5) {
+		dprintf(LOG_INFO, FNAME, 
+			"Incorrect Reconfigure Message option");
+		return (-1);
+	}
+
+	/* TODO: IA options && msg_type==11 => ERROR */
+
+	/* DHCP authentication */
+	/* authenticate key store in ia */
+	/* find the corresponding ia & set timer to 0 */
+	reconfmsg_ia(ifp, dh6, len, 
+		optinfo->reconfigauth_offset + sizeof(*dh6),
+		&optinfo->serverID); 
+
+	return (0);
+}
+
+static int
 process_auth(authparam, dh6, len, optinfo)
 	struct authparam *authparam;
 	struct dhcp6 *dh6;
@@ -2115,6 +2184,28 @@ process_auth(authparam, dh6, len, optinfo)
 		}
 
 		break;
+	case DHCP6_AUTHPROTO_RECONFIG:
+		if (optinfo->authalgorithm != DHCP6_AUTHALG_HMACMD5) {
+			dprintf(LOG_INFO, FNAME, "unknown authentication "
+			    "algorithm (%d)", optinfo->authalgorithm);
+			break;
+		}
+
+		if (optinfo->authrdm != DHCP6_AUTHRDM_MONOCOUNTER) {
+			dprintf(LOG_INFO, FNAME,"unknown RDM (%d)",
+			    optinfo->authrdm);
+			break;
+		}
+
+		if (optinfo->reconfigauth_type == 1) {//is a key
+			memcpy(&authparam->reconfig_key, 
+				&optinfo->reconfigauth_val, 16);
+
+			authenticated = 1;
+		}
+
+		break;
+
 	default:
 		dprintf(LOG_INFO, FNAME, "server sent unsupported "
 		    "authentication protocol (%d)", optinfo->authproto);
diff --git a/src/dhcp6c_ia.c b/src/dhcp6c_ia.c
index 6877c20..45d7d3b 100644
--- a/src/dhcp6c_ia.c
+++ b/src/dhcp6c_ia.c
@@ -48,6 +48,7 @@
 #include "dhcp6c_ia.h"
 #include "prefixconf.h"
 #include "addrconf.h"
+#include "auth.h"
 
 typedef enum {IAS_ACTIVE, IAS_RENEW, IAS_REBIND} iastate_t;
 
@@ -91,6 +92,43 @@ static char *iastr __P((iatype_t));
 static char *statestr __P((iastate_t));
 
 void
+reconfmsg_ia(ifp, dh6, len, off, serverid)
+	struct dhcp6_if *ifp;
+	struct dhcp6 *dh6;
+	ssize_t len;
+	size_t off;
+	struct duid *serverid;
+{
+	struct ia_conf *iac;
+	struct ia *ia;
+	struct timeval timo;
+
+	for (iac = TAILQ_FIRST(&ifp->iaconf_list); iac; 
+		iac = TAILQ_NEXT(iac, link)) {
+		for (ia = TAILQ_FIRST(&iac->iadata); ia;
+	    	ia = TAILQ_NEXT(ia, link)) {
+
+			/* check SID */
+			if (duidcmp(serverid, &ia->serverid)) {
+				continue;
+			}
+
+			/* check authparam */
+			if (dhcp6_verify_reconfmsg((char *)dh6, len, off,
+				ia->authparam->reconfig_key) != 0) {
+				continue;
+			}
+
+			ia->t1 = 0;
+			timo.tv_sec = ia->t1;
+			timo.tv_usec = 0;
+			dhcp6_set_timer(&timo, ia->timer);
+			dprintf(LOG_DEBUG, FNAME, "set ia timer to 0");
+		}
+	}
+}
+
+void
 update_ia(iatype, ialist, ifp, serverid, authparam)
 	iatype_t iatype;
 	struct dhcp6_list *ialist;
@@ -293,6 +331,7 @@ update_authparam(ia, authparam)
 			    "failed to copy authparam");
 			return (-1);
 		}
+		dprintf(LOG_DEBUG, FNAME, "key %s", ia->authparam->reconfig_key); 
 		return (0);
 	}
 
diff --git a/src/dhcp6c_ia.h b/src/dhcp6c_ia.h
index af328db..16808af 100644
--- a/src/dhcp6c_ia.h
+++ b/src/dhcp6c_ia.h
@@ -51,6 +51,8 @@ struct iactl {
 	void (*cleanup) __P((struct iactl *));
 };
 
+extern void reconfmsg_ia __P((struct dhcp6_if *, struct dhcp6 *,
+	ssize_t, size_t, struct duid *));
 extern void update_ia __P((iatype_t, struct dhcp6_list *,
     struct dhcp6_if *, struct duid *, struct authparam *));
 extern void release_all_ia __P((struct dhcp6_if *));
```

